[submodule "playsms"]
	path = playsms
	url = https://github.com/rcode/playsms.git
[submodule "jasmin"]
	path = jasmin
	url = https://github.com/rcode/jasmin.git
[submodule "jasmin-web-panel"]
	path = jasmin-web-panel
	url = https://github.com/rcode/jasmin-web-panel.git
